div#links.container.col-sm-2
            div.icon-bar
                a(href='/game' data-toggle='tooltip' title='Game Home')
                    i.fa.fa-home
                a(href='/auth/profile' data-toggle='tooltip' title='User Profile')
                    i.fa.fa-user
                a(href='/game/leaderboard' data-toggle='tooltip' title='LeaderBoard')
                    i.fa.fa-users
                a(href='/game/trail' data-toggle='tooltip' title='User Trail')
                    i.fa.fa-database