div#info.container.col-sm-3
            div.row
                div.card(style="width:150px")
                    h5.card-header(style="background-color:teal") Total Attempts
                    div.card-body 
                        h2.card-text(align="middle") #{attempts}
            br
            div.row
                div.card(style="width:150px")
                    h5.card-header(style="background-color:#AB987A") Your Attempts
                    div.card-body 
                        h2.card-text(align="middle") #{userattempts}
            br