div#links.container.col-sm-2
            div.icon-bar
                a(href='/qotd')
                    i.fa.fa-home
                a(href='/qotd/leaderboard')
                    i.fa.fa-users
                a(href='/game/')
                    i.fa.fa-gamepad